In [2]:
#Import the pandas module

import pandas as pd

#Read in the csv file
mycsv = pd.read_csv("C:/Users/Mathew/Documents/budget_data.csv")


#convert into a dataframe
analysis_df = pd.DataFrame(mycsv)

#display header

analysis_df.head()

     Date  Profit/Losses
0  Jan-10        1088983
1  Feb-10        -354534
2  Mar-10         276622
3  Apr-10        -728133
4  May-10         852993

In [35]:
#store the total months data
total_months = analysis_df['Date'].count()

In [79]:
#store the total profit data
total_profit = analysis_df['Profit/Losses'].sum()

In [84]:
#adds a new Column of change between months to the data frame (to stay organized of course)
change = analysis_df['Profit/Losses'].diff(1) 
analysis_df["Change"] = change 

#display the header of the updated dataframe
analysis_df.head()

     Date  Profit/Losses     Change
0  Jan-10        1088983        NaN
1  Feb-10        -354534 -1443517.0
2  Mar-10         276622   631156.0
3  Apr-10        -728133 -1004755.0
4  May-10         852993  1581126.0

In [85]:
#Greatest increase in profits
greatest_increase = int(analysis_df['Change'].max()) #finds the max in this column

#finds the corresponding date with the greatest increase value
increase_date = analysis_df[analysis_df['Change']==greatest_increase]['Date'].values[0]

#Greatest decrease in profits
greatest_decrease = int(analysis_df['Change'].min()) #finds the min in this column


#Finds the corresponding date with the greatest decrease value
decrease_date = analysis_df[analysis_df['Change']==greatest_decrease]['Date'].values[0]

In [86]:
#Average change
#finds the average of the Change column, thus giving us the Average change
average_change = float(analysis_df['Change'].mean())

In [88]:
#prints the data found to the terminal


print('Financial Analysis')
print('-------------------------------------------')
print('Total Months: ' + str(total_months))
print('Total: $' + str(total_profit))
print('Average Change: $' + str(average_change))
print('Greatest Increase In Profits: ' +increase_date+' $' + str(greatest_increase))
print('Greatest Decrease In Profits: ' + decrease_date+' $' + str(greatest_decrease))

Financial Analysis
-------------------------------------------
Total Months: 86
Total: $22564198
Average Change: $-8311.105882352942
Greatest Increase In Profits: Aug-16 $1862002
Greatest Decrease In Profits: Feb-14 $-1825558

In [91]:
#writes data to a text file


file = open("financial_analysis.txt", "w")
lines = ['Financial Analysis', '\n-------------------------------------------', '\nTotal Months: ' + str(total_months), 
         '\nTotal: $' + str(total_profit), '\nAverage Change: $' + str(average_change), '\nGreatest Increase In Profits: ' +increase_date+' $' + str(greatest_increase), 
          '\nGreatest Decrease In Profits: ' + decrease_date+' $' + str(greatest_decrease)]
file.writelines(lines)
file.close()